    <style>
        .progress-container {
            width: 100%;
            background-color: #e0e0e0;
            border-radius: 25px;
            overflow: hidden;
            height: 30px;
        }

        .progress-bar {
            height: 100%;
            width: 0;
            background: linear-gradient(to right, red, blue);
            border-radius: 25px;
            text-align: center;
            line-height: 30px; /* same as container height to center the text vertically */
            color: white;
            transition: width 0.25s;
        }
        .labels {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    </style>        
        
        <div class="content-page">
            <div class="container-fluid">
                <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Transantiago App</a></li>
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Páginas</a></li>
                                        <li class="breadcrumb-item active">Inicio</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Inicio</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                <div class="row">
                    <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div class="d-flex flex-column text-center">
                                        <img src="{{baseUrl}}/images/svg/file-searching.svg" height="90" alt="File not found Image">
                                        <p style="font-size:17px;" class="mt-4"> Al ingresar un código de paradero en el buscador se despliega la aglomeración esperada en este señalada con colores 
                                        (Ver barra más abajo).</br>
                                        Además, se puede seleccionar un horario en específico para mayor detalle en la solicitud.</p>
                                        <div class="progress-container">
                                            <div class="progress-bar" id="progress-bar"></div>
                                        </div>
                                        <div class="labels">
                                            <span>0%</span>
                                            <span>50%</span>
                                            <span>100%</span>
                                        </div>
                                     </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <!-- END Contenido dinámico -->
        <script>
            function updateProgressBar(percentage) {
                const progressBar = document.getElementById('progress-bar');
                progressBar.style.width = percentage + '%';
            }

            // Example usage
            updateProgressBar(100); // Update to 50% as an example
        </script>