    <h1 class="mt-5">Buscar Ubicación del Paradero</h1>
    <form action="/buscar" method="POST" class="mt-4">
        <div class="form-group">
            <label for="codigoParadero">Código del Paradero:</label>
            <input type="text" class="form-control" id="codigoParadero" name="codigoParadero" required>
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
